In [2]:
#Q1 solution
var1="taher",[1,2,3,True],52.45,{2,4,6,False}

In [3]:
print(var1)

('taher', [1, 2, 3, True], 52.45, {False, 2, 4, 6})

In [8]:
#Q2 solution
    # var1 = " "
    var2 = "[ DS , ML , Python]"
    var3 = [ "DS" , "ML" , "Python" ]
    var4 = 1.
print(type(var1,var2,var3,var4))

<class 'IndentationError'>: unexpected indent (<ipython-input-8-a445567e8c02>, line 3)

In [9]:
#Q3 solution
a=5
b=2
print(a/b)
print(a%b)
print(a//b)
print(a**b)

2.5
1
2
25

In [12]:
#Q4 solution
l=[1,2,3,True,"Taher",53.43,False,5,65.6,10,"sadriwala"]
for i in l:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
True <class 'bool'>
Taher <class 'str'>
53.43 <class 'float'>
False <class 'bool'>
5 <class 'int'>
65.6 <class 'float'>
10 <class 'int'>
sadriwala <class 'str'>

In [20]:
#Q6 solution

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0 :
        print(i,"number is divisible ")
else:
    print(" remaining number is not divisible by 3")

3 number is divisible
6 number is divisible
9 number is divisible
12 number is divisible
15 number is divisible
18 number is divisible
21 number is divisible
24 number is divisible
 remaining number is not divisible by 3

In [24]:
s="Taher" #immutable
l=[1,2,3,"sadri",True] #mutable
#checking mutability
l[2]=False #we can change values in list by giving certain index
#s[2]="s"
print(s,l) # it will throw error bcz we cant change value in string
l

Taher [1, 2, False, 'sadri', True]

[1, 2, False, 'sadri', True]