Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use

MongoDB is a popular open-source NoSQL database management system. It is designed to handle large amounts of data and is particularly well-suited for applications with complex data models. MongoDB stores data in a flexible, JSON-like format called BSON (Binary JSON). It uses a document-oriented data model, meaning data is stored in flexible, semi-structured documents, rather than in tables and rows like a traditional relational databas

Non-relational databases, also known as NoSQL databases, depart from the traditional relational database model. They offer flexible schemas and can handle a variety of data types

When dealing with large volumes of unstructured or semi-structured data.
Rapid development and evolving schema requirements.

Q2. State and Explain the features of MongoDB.

Document-Oriented: MongoDB stores data in flexible, JSON-like BSON documents.
Schema-less: No predefined schema is required, allowing for dynamic and flexible data models.
Scalability: Horizontal scalability is achieved through sharding, distributing data across multiple machines.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 16.1 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 39.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo
client =pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.trucify.mongodb.net/?retryWrites=true&w=majority")
db =client.test

db
## to create a databse first connect it like this
db=client["pwskills"]## here the name of database is pwskills which is coonnected throuhgh client on mongodb
## then to insert the data first create it in a form of dictionart (key :value)
data={ "name": "Taher", "age": "21"}
## to show this data in database firstt we need to create a collection andd insert this data in it
col1_pwskillls=db["my_record"]

In [5]:
col1_pwskillls.insert_one(data)

InsertOneResult(ObjectId('659a3f2c2952217923656536'), acknowledged=True)

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data2= [ { "name": "Taher", "age": "21"},
         {  "name": "insiya", "age": "17"},
         { "name": "shubhankar", "age": "18"},
         {  "name": "adnan", "age": "20"}]

In [7]:
col1_pwskillls.insert_many(data2)

InsertManyResult([ObjectId('659a3f7f2952217923656537'), ObjectId('659a3f7f2952217923656538'), ObjectId('659a3f7f2952217923656539'), ObjectId('659a3f7f295221792365653a')], acknowledged=True)

In [8]:
col1_pwskillls.find_one()

{'_id': ObjectId('659a3f2c2952217923656536'), 'name': 'Taher', 'age': '21'}

In [9]:
for i in col1_pwskillls.find():
    print(i)

{'_id': ObjectId('659a3f2c2952217923656536'), 'name': 'Taher', 'age': '21'}
{'_id': ObjectId('659a3f7f2952217923656537'), 'name': 'Taher', 'age': '21'}
{'_id': ObjectId('659a3f7f2952217923656538'), 'name': 'insiya', 'age': '17'}
{'_id': ObjectId('659a3f7f2952217923656539'), 'name': 'shubhankar', 'age': '18'}
{'_id': ObjectId('659a3f7f295221792365653a'), 'name': 'adnan', 'age': '20'}

In [10]:
for i in col1_pwskillls.find({"name":"adnan"}):
    print(i)

{'_id': ObjectId('659a3f7f295221792365653a'), 'name': 'adnan', 'age': '20'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [11]:
for i in col1_pwskillls.find({"name":"adnan"}):
    print(i)

{'_id': ObjectId('659a3f7f295221792365653a'), 'name': 'adnan', 'age': '20'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [12]:
# Sorting documents based on the 'age' field in descending order
sorted_result = col1_pwskillls.find().sort("age", pymongo.DESCENDING)

for document in sorted_result:
    print("Sorted Record:", document)

Sorted Record: {'_id': ObjectId('659a3f2c2952217923656536'), 'name': 'Taher', 'age': '21'}
Sorted Record: {'_id': ObjectId('659a3f7f2952217923656537'), 'name': 'Taher', 'age': '21'}
Sorted Record: {'_id': ObjectId('659a3f7f295221792365653a'), 'name': 'adnan', 'age': '20'}
Sorted Record: {'_id': ObjectId('659a3f7f2952217923656539'), 'name': 'shubhankar', 'age': '18'}
Sorted Record: {'_id': ObjectId('659a3f7f2952217923656538'), 'name': 'insiya', 'age': '17'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [13]:
col1_pwskillls.delete_one({"name": "John Doe"})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000007'), 'opTime': {'ts': Timestamp(1704607845, 1), 't': 7}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704607845, 1), 'signature': {'hash': b'p\x1fX.g\xfc\xff\xeb\x90^|A\x1c\xaeE\xb5\x02LV\x02', 'keyId': 7310568820702183429}}, 'operationTime': Timestamp(1704607845, 1)}, acknowledged=True)

In [14]:
col1_pwskillls.delete_many({"age": {"$lt": 21}})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000007'), 'opTime': {'ts': Timestamp(1704607899, 3), 't': 7}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1704607899, 3), 'signature': {'hash': b'EV\rr\xd13\x96\xadx\xc2\xf7\xb2\xc4\x19$\x8f\xb2%\xe4\xd3', 'keyId': 7310568820702183429}}, 'operationTime': Timestamp(1704607899, 3)}, acknowledged=True)

In [15]:
col1_pwskillls.drop()