Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
data=[4,8,15,16,23,42]
df =pd.Series(data)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
mylist= [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(mylist)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [7]:
data = {
    "Name ":["Alice","BOB","Claire"],
    "Age ":[25,30,27],
    "Gender":["female","male","female"] }

df =pd.DataFrame(data)

print(df)

    Name   Age   Gender
0   Alice    25  female
1     BOB    30    male
2  Claire    27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, tabular data structure that is designed to store and manipulate heterogeneous data. It consists of rows and columns, where each column can have a different data type.

In [8]:
data = {
    "Name ":["Alice","BOB","Claire"],
    "Age ":[25,30,27],
    "Gender":["female","male","female"] }

df =pd.DataFrame(data)

print(df)

    Name   Age   Gender
0   Alice    25  female
1     BOB    30    male
2  Claire    27  female

 Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of a DataFrame. A DataFrame can be seen as a collection of Series where each Series represents a column.

In [9]:
mylist= [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(mylist)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

ANS : series is one of the function used to just mention the index number in data

In [10]:

mylist= [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(mylist)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series ,dataframe are mutable and panel is not in the  updated version of panda library

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [12]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Creating a dictionary with Series as values and column names as keys
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles