Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database means a storage system where the user data gets stored and gets uodated with time
SQL: structured query language means its a schema database where we can only store structed data in a structured manner
NOSQL: Not only SQL means its a schema-free database where structured ,semi-structured ,unstructed data can be stored

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS :: data definition language(DDL) is used to create table in a database can alter the table ,drop truncate

In [ ]:
# CREATE DATABASE D1; # USED TO CREATE A DATABASE
# CREATE TABLE students(ID int, name varchar(50)); # used to create a table
# ALTER TABLE students add email_id text; # used to change the schema
# TRUNCATE TABLE students ; # used to delete the table

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS:: Data manipulation language(DMl)is used to insert the recordds in table and can update ,delete the data from the table

In [3]:
# INSERT INTO students(1,"TAHER","tahersadri36@gmail.com"); # used to insert data into table 
# UPDATE students SET name="insiya" WHERE ID=1;  # used to update the data in table
# DELETE FROM students WHERE ID=1; # used to delete the data

Q4. What is DQL? Explain SELECT with an example.

ANS:: Data query language is used to show the data in the database by using the commands like show,select

In [5]:
# SELECT * FROM students; ## used to display all the data present in the table

Q5. Explain Primary Key and Foreign Key.

ANS :: Primary key is used to specify the table with its unique value like id,there can be only one primary key in one table 
foregn key is used to join the table to display the data there can be multiple foreign keys,foreign key means one's primary key is foreign key in other tables

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [7]:
# import mysql.connector
# # import mysql.connector
# #create user 'user'@'%' identified by 'password'
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# print(mydb)
# mycursor = mydb.cursor()



# ## cursor is used to point out the data one by one in the table,and execute is used to run the query

Q7. Give the order of execution of SQL clauses in an SQL query.

In [8]:
# FROM
# WHERE 
# GROUP BY
# HAVING BY
# SELECT
# ORDER BY